.vue3-easy-data-table{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    border-radius: 4px;
    border: none!important;

}

.vue3-easy-data-table__main{
    border-top-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);

}
.vue3-easy-data-table__footer{
    border-bottom-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.customize-table{
    --easy-table-border: 1px solid #000;
    --easy-table-row-border: 1px solid #e9ecef;
}

